
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');

@import url('https://fonts.cdnfonts.com/css/built-titling?styles=45033,45029,45031,45035,45027');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', 'Times New Roman', Times, sans-serif;
   
}

:root {
    --color1:hsl(196, 96%, 27%);
    --color2: hsl(219, 17%, 20%);
    --color3: hsl(0, 0%, 100%);
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(255, 255, 255);
}

body > header {
    border-bottom: 4px solid var(--color2);
    padding: 16px 0;
    
}



section {
    margin-top: 30px;
}

#sports h2 {
    color: aquamarine;
}